.card {
	position: relative;
	width: 100%;
	overflow: visible;
	display: flex;
	flex-direction: column;
	background-color: var(--surface-0);
	border: 1px solid var(--surface-200);
	border-radius: 8px;

	> .card-body {
		height: 100%;
		padding: 10px;
		flex: 1 1 100%;
		display: flex;
		flex-direction: column;

		> .card-header {
			flex: 0 0;
			display: flex;
			align-items: center;
			gap: 0.5rem;
			z-index: 10;
			h1,
			h2,
			h3,
			h4,
			h5,
			h6,
			[class*="title"] {
				display: flex;
				align-items: center;
				gap: 8px;
				font-size: 1.2rem;
				font-weight: bold;
				color: var(--gray-800);
			}

			> .drag-handle {
				position: absolute;
				cursor: move;
				top: -10px;
				left: -15px;
				padding: 6px 8px;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
				background-color: var(--surface-0);
				background-size: 20px;
				visibility: hidden;
			}

			> .actions {
				margin-left: auto;
				display: flex;
				align-items: center;
				gap: 8px;
			}
		}

		> .card-content {
			overflow-y: auto;
			flex: 1 1 100%;
			padding: 16px;
		}
	}
	&:hover > .card-body > .card-header > .drag-handle {
		visibility: visible;
		z-index: 100;
	}
}
